/* baskervville-sc-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Baskervville SC';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/baskervville-sc-v4-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* cute-font-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Cute Font';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/cute-font-v28-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

nav {
	background-color: #3c0f0f;
	border-bottom: 2px #3c0f0f;
	border-radius: 2px;
	font-family: 'Cute Font', sans-serif;
	color: 
	position: left;
	width: 100%;
	word-spacing: 10px;

}

nav ul {
   list-style: none;
   display: flex;
   justify-content: center;
   flex-direction: row;
   gap: 50px;
}

nav ul li {
   background-color: d
   padding: 5px;
   border-radius: 3px;   
}

#flexstart {
  justify-content: flex-start;
}

#center {
  align-items: center;
}

html {font-size: 16px;}


p {
  font-family: ' 'Cute Font', sans-serif;';
  font-size: 1.2em;
  text-align: center;
  line-height: 44px;
  color: #00008B; 
  background-color: black;
}

p,
.text-size-h2 {
backround color: ghostwhite;
 font-size: 3em; 
 line-height: -6Px;
font-family: 'baskervville'}

 p2 {
  height: 2px;
  text-size:2px;
  }

h1,
h3,
h4,
h5 {
  font-family: 'baskervville';
  font-weight: true;
  line-height: 1.15;
  text-align: center;

}

h1,
.text-size-h1 {
  background-color: black;
  font-family: 'baskervville';
  font-weight: 700;
  text-align: center;
  margin-top: 0;
  font-size: 3.05em;
  color: #f91a10;
}

h2, 
.text-size-h2 { 
font-size: 2.44em; 
font-family: 'Cute Font', sans-serif;
font-weight: 700;
text-align: center;
margin-top: 0;
color: black;
background-color: darkred;
 border-radius: 35px;

}

h3,
.text-size-h3 { font-size: 1.95em; }

h4,
.text-size-h4 { font-size: 1.56em; }

h5,
.text-size-h5 { font-size: 1.25em; }

.text-caption { font-size: 0.8em; }

small,
.text-small {
  font-size: 0.64em;
}
              
body { 
  background-color: black;
	background-repeat: repeat;
  font-family: 'Adamina', sans-serif;
  font-weight: false;
  line-height: 1.65;
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
}
}

ul {
      text-align: center;
	  width: 200px;
      margin-left: auto;
      margin-right: auto;
}



aside {
  width: 40%;
  justify-content: center;
  margin-right: 25%px;
  float: right;
  background-color: #06628d;
  padding: 10px 20px
 border-left: 3px solid #0070d0;
}
 form  {
  color: darkred;
}


.main {
  width: 10%;
  height: auto;
}


.activity {
  max-width: 400px;
  margin: 0 auto;
  height: 100%;
  text-align: center;
  padding: 10px 10px;
}

.activity img {
  max-width: 100%;
  max-height: 100%;
}

.icon {
	width: 960px;
	margin-right: auto;
	margin-left: auto;
	padding: 10px 0 30px 0;	
	text-align: right;
	position: relative;
}

footer {
      align: center;
       font-size: 22x;
      font-family: 'cute-font', sans-serif;
      background-color: darkred;

}

.buttons {
      border: 2px solid red;
      background-color: darkred;
      padding: 10px 0px;
      position: relative;
      text-align: center;
	  width: 100%;
      
}

.buttons a {
        background: rgb(0, 0, 139);
        border: 1px solid red;
        border-radius: 2px;
        color: #f0e33f;
        margin: 2px;
        padding: 2px;
        text-decoration: none;
        font-size: 15px;
}

.buttons a:hover {
        background: white;
        border: 1px solid #131713;
        color: #131713;
      transform: scale(1.5);
}

nav a {
	/*transition: all .5s;*/
	transition: transform .5s;
	
}

nav a:hover {
	background-color: red;
	transform: scale(1.5);
}

@keyframes logo {
	from {
		transform: rotate(0) scale(.5);
		left: 120%;
	}
	50% {
		transform: rotate(-720deg) scale(.5);
		left: 0;
	}
	to {
		transform: rotate(0) scale(1);
		
	}
}

.logo {
	animation: logo 3s;
}